
params {

  // help message
  help = ''

  // input directory
  input_dir = ""

  // filetype fastq or bam
  filetype = 'fastq'

  // glob pattern for input files
  pattern = '*_R{1,2}.fastq.gz'

  // output directory
  output_dir = ""

  // resistance params
  resistance_profiler = "tb-profiler"  
  update_tbprofiler = "no"
  collate = "yes"

  // path to this config file
  config_dir = "${baseDir}/nextflow.config"
  
  //path to resources directory
  pherefs_tb = "/hpscol02/tenant1/ngsservice/pherefs/tb"
  resource_dir = "${pherefs_tb}/ukhsa_lodestone/v0.9.9-gamma/resources"

  //path to ref fasta and other index files
  tb_ref_fasta = "${resource_dir}/tuberculosis.fasta"
  tb_ref_dir   = "${resource_dir}/tuberculosis"
  species_of_interest = "Mycobacterium tuberculosis"

 
  // human/viral read removal, it should be either 'hostile' or 'tb_or_not_tb'
  human_read_removal = "tb_or_not_tb"
  gem_index = "/hpscol02/tenant1/bioinformatics/tb-project/paolo_tb_or_not_tb/index_v3/HVMC.v3.175.ds.gem"

  //human_read_removal = "hostile"

  //afanc
  speciation_method = "afanc"
  afanc_myco_db = "${pherefs_tb}/ukhsa_lodestone/afanc_myco_db/Mycobacteriaciae_DB_UKHSA_1"

  //kraken2
  kraken2_db = "${pherefs_tb}/ukhsa_lodestone/kraken2_db_20241228"


  //mykrobe
  //speciation_method = "mykrobe"
  //mykrobe_panel = "202309"

  //fastlin 
  // Source: https://github.com/rderelle/barcodes-fastlin/
  fastlin_barcodes = "${pherefs_tb}/ukhsa_lodestone/fastlin_barcodes/MTBC_barcodes.tsv"

  //variant_caller = "clockwork"
  variant_caller = "tb-profiler"
  tbdb_default_reference_genome = "${pherefs_tb}/tbprofiler_tbdb/genome.fasta"
  



}


process {
    //container_path = "$NGSSERVICE_CONTAINER_PATH"
    container_path = "$PHENGS_BASE_PATH/tenant1/ngsservice/containers_staging"
    queue = "$SLURM_PARTITION"

    params {
        tb_qaat_container = "$container_path/tb_typing/tb_typing_qaat.sinimg"
        hostile_container = "$container_path/tb_typing/tb_typing_hostile.sinimg"
        tb_or_not_tb_container = "$container_path/tb_typing/tb_typing_tb_or_not_tb_1_1.sinimg"
        mykrobe_container = "$container_path/tb_typing/tb_typing_mykrobe_0.4.sinimg"
        afanc_container = "$container_path/tb_typing/tb_typing_afanc_0_3.sinimg"
        clockwork_container = "$container_path/tb_typing/tb_typing_clockwork_v0.12.5.sinimg"
        tbprofiler_container = "$container_path/tb_typing/tb_profiler_default_genome_v6.6.5.sinimg"
        fastlin_container = "$container_path/tb_typing/tb_typing_fastlin_0_1.sinimg"
        snippy_container = "$container_path/tb_typing/tb_typing_snippy.sif"

    }
    withLabel:tb_qaat {
        container = params.tb_qaat_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }
    withLabel:hostile {
        container = params.hostile_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data,$PHENGS_BASE_PATH/tenant1/ngsservice/pherefs:/mnt'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }
    //this container needs more memory to read the index file
    withLabel:tb_or_not_tb {
        container = params.tb_or_not_tb_container
        memory = 64.GB
        containerOptions = '--bind $PHENGS_BASE_PATH,/data,$PHENGS_BASE_PATH/tenant1/ngsservice/pherefs:/mnt'
        clusterOptions = '-m cyclic --cpus-per-task=8'
    }
    withLabel:mykrobe {
        container = params.mykrobe_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }
    withLabel:afanc {
        container = params.afanc_container
        memory = 64.GB
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=8'
    }
    withLabel:clockwork {
        container = params.clockwork_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }
    withLabel:tbprofiler {
        container = params.tbprofiler_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=8'
    }
    withLabel:fastlin {
        container = params.fastlin_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }
    withLabel:snippy {
        container = params.snippy_container
        memory = { 12.GB * task.attempt }
        containerOptions = '--bind $PHENGS_BASE_PATH,/data'
        clusterOptions = '-m cyclic --cpus-per-task=4'
    }

}

singularity {
    enabled = true
    newPidNamespace = false
}
executor {
    name = 'slurm'
    exitReadTimeout = '7200 sec'
    //queueSize = "$SLURM_LARGE_QUEUE_SIZE"
    queueSize = 50
}
process.module = 'singularity/singularity-3.4.1'

//error handling

workflow.failOnIgnore = true
process.errorStrategy = 'ignore'

